<style type="text/css">
<!--
a {
	color:#666666;
}
a:hover {
	font-family : verdana;
	font-size:10px;
	color: #CB6000;
	text-decoration: none;
}
-->
</style>
<body bgcolor="#FFFFFF" text="#333333" style="background-color: #CCCCCC; margin-bottom : 0px; margin-left : 0px; margin-top : 0px; margin-right : 0px;">
<div align="center" style="background-color: #CCCCCC;">
<br>
<table style="font-size: 10px; font-family: verdana; color: #ffffff; width: 600px;" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
  <tbody>
    <tr>
      <td style="font-size: 10px; font-family: verdana; color: #ffffff;"><table style="font-size: 10px; font-family: verdana; color: #ffffff; width: 100%;" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr bgcolor="#FD7800">
              <td style="font-size: 10px; font-family: verdana; color: #ffffff; padding-left: 17px;"><img src="images/cf2ad8580d69cc266a65d97267b72daa.jpg" alt="Consulting Company" width="200" height="69" /></td>
              <td style="font-size: 10px; font-family: verdana; color: #ffffff; padding-right: 10px; padding-bottom: 10px;" align="right" valign="bottom"><strong>E-Newsletter</strong></td>
            </tr>
          </tbody>
        </table></td>
    </tr>
    <tr>
      <td style="font-size: 10px; font-family: verdana; color: #ffffff;"><img src="images/ad8a89f45961e9d5718ad75f64bbd0c7.jpg" alt="Consulting Company" width="600" height="175" /></td>
    </tr>
    <tr>
      <td style="font-size: 10px; font-family: verdana; color: #ffffff;"><table style="font-size: 10px; font-family: verdana; color: #ffffff; width: 100%;" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td style="font-size: 10px; font-family: verdana; color: #ffffff;" valign="top" bgcolor="#E7E7E7">&nbsp;</td>
              <td style="font-size: 10px; font-family: verdana; color: #ffffff;">&nbsp;</td>
            </tr>
            <tr>
              <td style="font-size: 10px; font-family: verdana; color: #ffffff;" width="191" valign="top" bgcolor="#E7E7E7"><table style="width: 90%;" border="0" cellspacing="0" cellpadding="0" align="center">
                  <tbody>
                    <tr>
                      <td style="font-size: 10px; font-family: verdana; color: #ffffff;"></td>
                    </tr>
                    <tr>
                      <td style="font-size: 14px; font-family: verdana; color: #333333; font-weight: bold;">Upcoming Events</td>
                    </tr>
                    <tr>
                      <td style="font-size: 12px; font-family: verdana; color: #cb6000; font-weight: bold;" height="30">Vestibulum Vel</td>
                    </tr>
                    <tr>
                      <td style="font-size: 10px; font-family: verdana; color: #666666;">In porta tempus ipsum. In urna nulla, elementum id, molestie eget, vestibulum vel, ligula. <br />
                        <br />
                        Pellentesque euismod, enim sit amet volutpat sollicitudin, nisi nisl volutpat ante, eleifend condimentum</td>
                    </tr>
                    <tr>
                      <td style="font-size: 10px; font-family: verdana; color: #ffffff;" height="20" align="right"><a href="&lt;web link&gt;"><span style="text-decoration: none; font-weight: bold;">View More...</span></a></td>
                    </tr>
                    <tr>
                      <td style="font-size: 10px; font-family: verdana; color: #ffffff;" height="20" align="center"><img src="images/2771524834efc2604585c83ab208776d.gif" alt="" width="162" height="3" /></td>
                    </tr>
                    <tr>
                      <td style="font-size: 12px; font-family: verdana; color: #cb6000; font-weight: bold;" height="30">Vestibulum Vel</td>
                    </tr>
                    <tr>
                      <td style="font-size: 10px; font-family: verdana; color: #666666;">In porta tempus ipsum. In urna nulla, elementum id, molestie eget, vestibulum vel, ligula. <br />
                        <br />
                        Pellentesque euismod, enim sit amet volutpat sollicitudin, nisi nisl volutpat ante, eleifend condimentum</td>
                    </tr>
                    <tr>
                      <td style="font-size: 10px; font-family: verdana; color: #ffffff;" height="20" align="right"><a href="&lt;web link&gt;"><span style="text-decoration: none; font-weight: bold;">View More...</span></a></td>
                    </tr>
                    <tr>
                      <td style="font-size: 10px; font-family: verdana; color: #ffffff;" height="20" align="center"><img src="images/2771524834efc2604585c83ab208776d.gif" alt="" width="162" height="3" /></td>
                    </tr>
                    <tr>
                      <td style="font-size: 10px; font-family: verdana; color: #ffffff;"></td>
                    </tr>
                    <tr>
                      <td style="font-size: 10px; font-family: verdana; color: #ffffff;"></td>
                    </tr>
                    <tr>
                      <td style="font-size: 10px; font-family: verdana; color: #ffffff;"></td>
                    </tr>
                    <tr>
                      <td style="font-size: 10px; font-family: verdana; color: #ffffff;"></td>
                    </tr>
                    <tr>
                      <td style="font-size: 10px; font-family: verdana; color: #ffffff;"></td>
                    </tr>
                  </tbody>
                </table></td>
              <td style="font-size: 10px; font-family: verdana; color: #ffffff;"><table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td style="font-size: 24px; font-family: verdana; color: #6c4d2b; font-weight: normal; padding-left: 10px; padding-bottom: 7px;">Elementum molestie</td>
                    </tr>
                    <tr>
                      <td style="font-size: 10px; font-family: verdana; color: #666666; padding-left: 10px; padding-right: 15px;">In porta tempus ipsum. In urna nulla, elementum id, molestie eget, vestibulum vel, ligula. Pellentesque euismod, enim sit amet volutpat sollicitudin, nisi nisl volutpat ante, eleifend condimentum quam erat et mauris. Donec euismod tempor dui.</td>
                    </tr>
                    <tr>
                      <td style="font-size: 10px; font-family: verdana; color: #ffffff;" height="30" align="center"><img src="images/2771524834efc2604585c83ab208776d.gif" alt="" width="162" height="3" /></td>
                    </tr>
                    <tr>
                      <td style="font-size: 16px; font-family: verdana; color: #ff8c26; font-weight: bold; padding-left: 10px; padding-top: 0px; padding-bottom: 7px;">Elementum molestie</td>
                    </tr>
                    <tr>
                      <td style="font-size: 10px; font-family: verdana; color: #666666; padding-left: 10px; padding-right: 15px;">In porta tempus ipsum. In urna nulla, elementum id, molestie eget, vestibulum vel, ligula. Pellentesque euismod, enim sit amet volutpat sollicitudin, nisi nisl volutpat ante, eleifend condimentum quam erat et mauris. Donec euismod tempor dui.</td>
                    </tr>
                    <tr>
                      <td style="font-size: 10px; font-family: verdana; color: #ffffff;" height="30" align="center"><img src="images/2771524834efc2604585c83ab208776d.gif" alt="" width="162" height="3" /></td>
                    </tr>
                    <tr>
                      <td style="font-size: 16px; font-family: verdana; color: #ff8c26; font-weight: bold; padding-left: 10px; padding-top: 0px; padding-bottom: 7px;">Elementum molestie</td>
                    </tr>
                    <tr>
                      <td style="font-size: 10px; font-family: verdana; color: #666666; padding-left: 10px; padding-right: 15px;">In porta tempus ipsum. In urna nulla, elementum id, molestie eget, vestibulum vel, ligula. Pellentesque euismod,</td>
                    </tr>
                    <tr>
                      <td style="font-size: 10px; font-family: verdana; color: #ffffff;" height="30" align="center"><img src="images/2771524834efc2604585c83ab208776d.gif" alt="" width="162" height="3" /></td>
                    </tr>
                    <tr>
                      <td style="font-size: 10px; font-family: verdana; color: #666666; padding-left: 10px; padding-right: 15px;"><table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td style="font-size: 10px; font-family: verdana; color: #ffffff;"><img src="images/64f13bd9031fb5e3df37d9594001b14d.jpg" alt="Consulting Services" width="183" height="123" /></td>
                              <td style="font-size: 10px; font-family: verdana; color: #ffffff;"></td>
                              <td style="font-size: 10px; font-family: verdana; color: #ffffff;" width="183" valign="top"><table style="font-size: 10px; font-family: verdana; color: #ffffff; width: 183px;" border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td style="font-size: 14px; font-family: verdana; color: #ffffff; font-weight: bold; padding-left: 10px;" height="25" bgcolor="#CB6000">tempus ipsum</td>
                                    </tr>
                                    <tr>
                                      <td style="padding-left: 10px; line-height: 18px;" height="98" bgcolor="#FF8C26">- pus ipsum in urna nulla.<br />
                                        - Elementum id. <br />
                                        - Molestie eget.<br />
                                        - Vestibulum vel ligula.<br />
                                        - Pellentesque euismod.</td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                          </tbody>
                        </table></td>
                    </tr>
                    <tr>
                      <td style="font-size: 10px; font-family: verdana; color: #ffffff;"></td>
                    </tr>
                    <tr>
                      <td style="font-size: 10px; font-family: verdana; color: #ffffff;"></td>
                    </tr>
                    <tr>
                      <td style="font-size: 10px; font-family: verdana; color: #ffffff;"></td>
                    </tr>
                  </tbody>
                </table></td>
            </tr>
            <tr>
              <td style="font-size: 10px; font-family: verdana; color: #ffffff;" valign="top" bgcolor="#E7E7E7">&nbsp;</td>
              <td style="font-size: 10px; font-family: verdana; color: #ffffff;">&nbsp;</td>
            </tr>
          </tbody>
        </table></td>
    </tr>
    <tr>
      <td style="font-size: 10px; font-family: verdana; color: #ffffff; height: 25px; background-color: #999999;" align="center">&copy; 2011 My Company. All rights reserved. <a href="http://www.mycompany.com/">www.mycompany.com</a></td>
    </tr>
  </tbody>
</table>
</div>
</body>
</html>